<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AnalisedeSistemas_Basic.My.MySettings.BDbEdi2021ConnectionString"
            connectionString="Data Source=193.137.7.32;Initial Catalog=BDbEdi2021;Persist Security Info=True;User ID=diei2199;Password=DI@2021"
            providerName="System.Data.SqlClient" />
        <add name="AnalisedeSistemas_Basic.My.MySettings.ConnectionString"
            connectionString="Data Source=193.137.7.32;Persist Security Info=True;User ID=diei2199;Password=DI@2021"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>