<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fbb2c1af-c960-4c63-ac35-94df6e29c0ff/resourceGroups/RoomBookerAPI20220430185159ResourceGroup/providers/Microsoft.Web/sites/RoomBookerAPI</ResourceId>
    <ResourceGroup>RoomBookerAPI20220430185159ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/fbb2c1af-c960-4c63-ac35-94df6e29c0ff/resourceGroups/RoomBookerAPI20220430185159ResourceGroup/providers/Microsoft.ApiManagement/service/RoomBookerResource/apis/roombooker</ApiResourceId>
    <OpenApiDocumentName>RoomBooker</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://roombookerapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>70be4482-b1b8-4edb-a917-91dd7b8f5c2d</ProjectGuid>
    <MSDeployServiceURL>roombookerapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RoomBookerAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$RoomBookerAPI</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>