@model RoomBookerAPI.Models.Sala

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sala</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdSala" />
            <div class="form-group">
                <label asp-for="IdCentro" class="control-label"></label>
                <select asp-for="IdCentro" class="form-control" asp-items="ViewBag.IdCentro"></select>
                <span asp-validation-for="IdCentro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NSala" class="control-label"></label>
                <input asp-for="NSala" class="form-control" />
                <span asp-validation-for="NSala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LotacaoMax" class="control-label"></label>
                <input asp-for="LotacaoMax" class="form-control" />
                <span asp-validation-for="LotacaoMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempoMinLimp" class="control-label"></label>
                <input asp-for="TempoMinLimp" class="form-control" />
                <span asp-validation-for="TempoMinLimp" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
